# Documents #
*.pdf
*.csv
*.xls
*.xlsx
*.doc
*.docx
*.txt
*.ppt
*.pps
*.pptx

# logs #
*.log

#videos
*.mp4 
*.mp3 

# pictures
*.png 
*.jpeg 
*.jpg

#Directory#
.ipynb_checkpoints/
Spark/Spark_Manipal/Data
Spark/Spark_Manipal/Scala
Spark/Spark_Manipal/Exercises/
Spark/Spark_Manipal/Scala-SparkMLLIB-master/
Spark/Spark_Manipal/sparkstreaming/

#History files
.Rhistory
.Rapp.history

