# Documents #
*.pdf
*.csv
*.xls
*.xlsx
*.doc
*.docx
*.txt
*.ppt
*.pps
*.pptx

# logs #
*.log

#videos
*.mp4 
*.mp3 

# pictures
*.png 
*.jpeg 
*.jpg

#Directory#
.ipynb_checkpoints/

#History files
.Rhistory
.Rapp.history

